* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-image: url(./assets/image/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    

}

.container {
    width: 100%;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    margin:60px auto 0 auto ;
    border: 1px solid rgba(255, 255, 255, .5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -2px 3px 4px rgba(27, 27, 27, 0.616);
}

.wrapper .login-box {
    width: 100%;
    padding: 40px;
}
.login-box h2 {
    text-align: center;
    font-size: 2rem;
    
}
.login-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin:30px 0 ;
}
.icon {
    position: absolute;
    right: 0;
    line-height: 57px;
    font-weight: 500;
    font-size: 1.2rem;

}
.input-box input {
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    padding: 0px 35px 0 5px;
    color: rgb(201, 199, 199);

}
.input-box input::placeholder {
    color: rgb(201, 199, 199);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.remember-forget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.remember-forget label {
    margin-left: 5px;
}
.remember-forget input[type="checkbox"]{
    accent-color: #16293b;
}

.wrapper a {
    text-decoration: none;
    color: #06101a;
}

.wrapper a:hover {
    text-decoration: underline;
}

.login-btn button {

    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: #112130;
}
.login-btn button:active {
    background-color: #0a141f;

}
.register {
    text-align: center;
}

@media (max-width: 730px ){

    body {

        background-image: url(./assets/image/back1.jpg);
        background-size: cover;
        background-attachment: fixed;
        
    
    }
    .wrapper {
        position: relative;
        width: 300px;
        height: 440px;
        margin:80px auto 0 auto ;
        border: 1px solid rgba(255, 255, 255, .5) ;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        backdrop-filter: blur(20px);
        border-radius: 10px;
    }

.nav-logo {
   margin-left: 5px;
   font-size: 16px;    
}

.nav-bar ul {
    display: none;

}
.remember-forget {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.nav-items button {

    margin-right: 10px;
}    
}
 

